.loginbg{
    background-image: url("../../assets/image/loginbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginformbg{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    width: 1000px;
    height: 500px;
    -webkit-backdrop-filter: blur(4.5px);
    border-left: 0px;
    border-right: 1px solid rgba(255, 255, 255, 1);
}